gsflow/bin/
gsflow/output/prms
gsflow/output/modflow/alameda.lst
gsflow/output/gsflow.out
gsflow/output_archive/
gsflow/superceded/
calibration_data/
calibration_results/
pre_calibration_plots/
analyze_gsflow_outputs/plots_compiled/
R_outputs/
superceded/
update_parameter_file/
gsflow/input/prms_lower/alameda_calibration_parameters_gsflow.param
gsflow/input/prms_lower/alameda_calibration_parameters_updated.param
gsflow/input/prms_lower/alameda_calibration_parameters.param
gsflow/input/prms_lower/alameda_default_values.param
gsflow/input/prms_lower/alameda_gis_derived_parameters.param
gsflow/input/prms_upper/alameda_calibration_parameters_gsflow.param
gsflow/input/prms_upper/alameda_calibration_parameters_updated.param
gsflow/input/prms_upper/alameda_calibration_parameters.param
gsflow/input/prms_upper/alameda_default_values.param
gsflow/input/prms_upper/alameda_gis_derived_parameters.param
gsflow/input/old/
gsflow/alameda_prms_updated.control
gsflow/prms_ic.out
gsflow/gsflow.log
gsflow/input/modflow_all/pest/ppk2fac/t.OUTPUT_reg.txt
gsflow/input/modflow_all/pest/ppk2fac/t.OUTPUT_sd.ref.txt
gsflow/input/modflow_all/pest/ppk2fac/Struct_File.HydKh_L_1.Variogram.txt
gsflow/input/modflow_all/pest/ppk2fac/Auto_Set_Parameter_Values_For_ppk2fac.txt
gsflow/input/modflow_all/pest/Temp_Control_File_PP_to_2D_arrays.txt
gsflow/input/modflow_all/pest/ppk2fac/s.report.txt
gsflow/input/modflow_all/pest/ppk2fac/debug1.dat
gsflow/input/modflow_all/pest/ppk2fac/Struct_File.vks.Variogram.txt
gsflow/input/modflow_all/pest/ppk2fac/Struct_File.SurfK.Variogram.txt
gsflow/input/modflow_all/pest/ppk2fac/Struct_File.HydKh_L_4.Variogram.txt
gsflow/input/modflow_all/pest/ppk2fac/Struct_File.HydKh_L_3.Variogram.txt
gsflow/input/modflow_all/pest/ppk2fac/Struct_File.HydKh_L_2.Variogram.txt
GIS/gw_head_contours/
GIS/hru_params_all_HRU_ID.dbf
GIS/hru_params_all_HRU_ID.HRU_ID.atx
GIS/hru_params_all_HRU_ID.prj
GIS/hru_params_all_HRU_ID.sbn
GIS/hru_params_all_HRU_ID.sbx
GIS/hru_params_all_HRU_ID.shp
GIS/hru_params_all_HRU_ID.shp.xml
GIS/hru_params_all_HRU_ID.shx
GIS/geology/
GIS/alam_df.csv
GIS/alam_df_sp.dbf
GIS/alam_df_sp.prj
GIS/alam_df_sp.shp
GIS/alam_df_sp.shx
GIS/streams/streams_20190522.dbf
GIS/streams/streams_20190522.prj
GIS/streams/streams_20190522.sbn
GIS/streams/streams_20190522.sbx
GIS/streams/streams_20190522.shp
GIS/streams/streams_20190522.shx
!gsflow/gsflow.exe
gsflow/input/prms_lower/prms_ic.in
gsflow/input/modflow_lower/restartdata1.in
